@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, * {
    margin: 0;
    left: 0;
}
.container-all {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0a061b;
    font-family: "Poppins",sans-serif;
}


/* NAV-LATERAL */
.nav-lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 6.5%;
    background-color: #231f39;
    border-bottom-right-radius: 8.5px;
    border-top-right-radius: 8.5px;
}

.logo-dbg {
    width: 100%;
    height: 14%;
}
.logo-dbg img {
    width: 100%;
    height: 100%;
}

.options-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 50%;
    height: 75%;
}
.principal-options {
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
}
.circle-option {
    font-size: 20px;
    color: #231f39;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    width: 80%;
    height: 9%;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 3px 6px rgba(207, 204, 204, 0.2);
}
.circle-option:hover {
    transform: scale(1.15);
    background-color: #bdb5b5;
}
.area-logoff {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;

}
.logoff {
    height: 50%;
    border: 2px solid red;
    color: red;
}

/* conteudo dash */
.content-dash {
  display: flex;
  align-items: center;
  height: 100%;
  width: 91%;
}
.content-cards {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  width: 98%;
  height: 100%;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
}

header h1 {
  color: #fff;
  font-weight: 900;
}

header h1 span {
  color: #45ff3e;
}
.actions {
  display: flex;
  justify-content: end;
  height: 50%;
  width: 45%;
}
.actions button {
  padding: 5px 25px;
  font-weight: 600;
  height: 100%;
  border: none;
  cursor: pointer;
  font-family: "Poppins",sans-serif;
  cursor: pointer;
}

.cancel {
  background: #ff3b3b;
  color: #fff;
  margin-right: 10px;
}

.create {
  background: #57a7ff;
  color: #fff;
}

/* Content area */
.content {
  width: 100%;
  background: #3b3a3a;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #34323b;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.card-branco {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 97%;
  height: 95%;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.inputs {
  padding-top: 10px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.group-input {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.inputs label {
  font-weight: bold;
}

.group-input input, .inputs select {
  outline: none;
  border: none;
  display: block;
  width: 90%;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: #dcdcf3;
  font-family: "Poppins",sans-serif;
}
.group-input select {
  width: 100%;
}

/* Panels */
.panels {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 95%;
  height: 81%;
  background-color: #d9d9d9;
  border-radius: 10px;
  align-items: center;
}
.card-componente {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 95%;
    width: 22.5%;
    gap: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}
.title-card {
    display: flex;
    align-items: center;
    background-color: #b4b4b4;
    border-radius: 10px;
    width: 100%;
    min-height: 10%;
}
.title-card span {
    padding-left: 20px;
    font-weight: 700;
    color: black;
    font-size: 18px;
}

.option-component {
    width: 100%;
    max-height: 98%;
    border-radius: 10px;
    background-color: white;
}

.opcoes-metricas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    font-weight: 600;
    width: 96%;
    padding: 5px;
    gap: 5px;
    background-color: #e1e1e1;
    border-radius: 10px;

}
.opcao-componente {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 90%;
    font-size: 17px;
    font-weight: 800;
}
.opcao-componente div {
    display: flex;
    align-items: center;
    gap: 5px;
}
.group-opcao-metrica {
    gap: 5px;
    display: none;
    width: 80%;
    display: flex;
    flex-direction: column;
    display: none;
}
.opcao {
    display: flex;
    align-items: center;
    gap: 7.5px;
    font-weight: 700;
    font-size: 14px;
}
input {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    
}
.check-componente:checked {
    background-color: #74ce3a;
    border: none;
    
}
input:checked {
    background-color: #678aff;
    
}
