
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, * {
    margin: 0;
    left: 0;
}
.container-all {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0a061b;
    font-family: "Poppins",sans-serif;
}
/* NAV-LATERAL */
.nav-lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 6.5%;
    background-color: #231f39;
    border-bottom-right-radius: 8.5px;
    border-top-right-radius: 8.5px;
    transition: width 0.4s ease;
}
/* 
.nav-lateral:hover {
    width: 16%;
    z-index: 15;
} */

.logo-dbg {
    width: 100%;
    height: 14%;
    display: flex;
    justify-content: center;
}
.logo-dbg img {
    width: 100px;
    height: 100px;
}

.options-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    height: 75%;
    align-self: flex-start;
    margin-left: 30px;
}
.principal-options {
    height: 85%;
    width: 100%;
    display: flex;
    left: 0;
    justify-content: center;
    align-items: start;
    gap: 25px;
    flex-direction: column;
    align-self: flex-start;
}
.circle-option {
    font-size: 20px;
    color: #231f39;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    width: 80%;
    height: 9%;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 3px 6px rgba(207, 204, 204, 0.2);
}
.circle-option:hover {
    transform: scale(1.15);
    background-color: #bdb5b5;
}

.area-logoff {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;

}
.logoff {
    height: 50%;
    border: 2px solid red;
    color: red;
}

.texto-oculto {
    display: none;
    font-size: 14px;
    color: #231f39;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
/* 
.nav-lateral:hover .texto-oculto {
    display: flex;
    visibility: visible;
}


.nav-lateral:hover .circle-option {
    width: 130px;
    justify-content: flex-start;
    border-radius: 25px;
    gap: 10px;
    padding: 0 10px;
} */
/* -------- CONTEÚDO PRINCIPAL -------- */

/* ======= LAYOUT ======= */
.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92%;
    height: 100%;
}

.top-row {
    display: flex;
    height: 25%;
    gap: 15px;
    width: 100%;
    align-items: stretch;
    justify-content: center;
    margin-block: 2%;
}

.main-content {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: end;
    width: 100%;
    height: 66%;
    
}

/* ======= CARDS ======= */
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-weight: 600;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.card h1 {
    font-size: 28px;
    margin-bottom: 5px;
    text-align: left;
}

.card h2 {
    font-size: 25px;
    font-weight: 500;
}

.card.total {
    width: 23%;
    background: #e7ebe5;
    color: #000;
}

.card.risk {
    width: 23%;
    padding-left: 15px;
    background: #df4a4a;
    color: white;
}

.card .icon {
    font-size: 35px;
    margin-right: 10px;
}

/* ======= STATUS CARD ======= */
.status-card {
    width: 30%;
    background: #2a2549;
    border-radius: 20px;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.status-header h2 {
    font-size: 20px;
    font-weight: 700;
}

.status-header p {
    font-size: 13px;
    color: #ccc;
}

.legenda {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 10px 0;
    font-size: 14px;
}

.legenda span {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    display: inline-block;
}

.verde {
    background: #40c463;
}

.amarelo {
    background: #f3c74b;
}

.vermelho {
    background: #e74c3c;
}

.barra-status {
    display: flex;
    height: 18px;
    border-radius: 10px;
    overflow: hidden;
}

.normal {
    background: #40c463;
    width: 70%;
}

.atencao {
    background: #f3c74b;
    width: 15%;
}

.alerta {
    background: #e74c3c;
    width: 15%;
}

.sub {
    font-size: 12px;
    color: #bcbcbc;
    margin-top: 10px;
}

/* ======= TABELA ======= */
.table-container {
    display: flex;
    border-top: #4b33c1 solid 10px;
    width: 50%;
    height: 80%;
    flex-direction: column;
    background: #f8f8f8;
    color: #000;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.table-container h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    color: #666;
    font-weight: 600;
}

/* ======= GRÁFICOS ======= */
.charts {
    width: 45%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
    height: 100%;
}

.chart-box {
    background: #0b0b11;
    border-radius: 15px;
    flex-direction: column;
    padding: 20px;
    height: 35%;
    display: flex;
    align-items: start;
    padding-right: 15px;
    color: white;
    justify-content: center;
}

.chart-box canvas {
    width: 90%!important;
    height: 90%!important;
}