
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, * {
    margin: 0;
    left: 0;
}
.container-all {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0a061b;
    font-family: "Poppins",sans-serif;
}

/* NAV-LATERAL */
.nav-lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 6.5%;
    background-color: #231f39;
    border-bottom-right-radius: 8.5px;
    border-top-right-radius: 8.5px;
    transition: width 0.4s ease;
}
/* 
.nav-lateral:hover {
    width: 16%;
    z-index: 15;
} */

.logo-dbg {
    width: 100%;
    height: 14%;
    display: flex;
    justify-content: center;
}
.logo-dbg img {
    width: 100px;
    height: 100px;
}

.options-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    height: 75%;
    align-self: flex-start;
    margin-left: 30px;
}
.principal-options {
    height: 85%;
    width: 100%;
    display: flex;
    left: 0;
    justify-content: center;
    align-items: start;
    gap: 25px;
    flex-direction: column;
    align-self: flex-start;
}
.circle-option {
    font-size: 20px;
    color: #231f39;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    width: 80%;
    height: 9%;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 3px 6px rgba(207, 204, 204, 0.2);
}
.circle-option:hover {
    transform: scale(1.1);
    background-color: #bdb5b5;
}

.area-logoff {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
}
.logoff {
    height: 50%;
    border: 2px solid red;
    color: red;
}

.texto-oculto {
    display: none;
    font-size: 14px;
    color: #231f39;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
/* 
.nav-lateral:hover .texto-oculto {
    display: flex;
    visibility: visible;
}


.nav-lateral:hover .circle-option {
    width: 130px;
    justify-content: flex-start;
    border-radius: 25px;
    gap: 10px;
    padding: 0 10px;
} */


/**/
.corpo{
    width: 100%;
    grid-area: corpo;
    background-color: #0a061b;
    height: 100% ;
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr;
    row-gap: 15px;
    grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.1fr;
    column-gap: 15px;
    grid-template-areas:
    ". painel painel painel status status status ."
    ". grafico grafico grafico grafico grafico grafico ."
    ". kpi1 kpi1 kpi2 kpi2 kpi3 kpi3 ." ;


}

.painel{
    grid-area: painel;
    display: flex;
    width: 204%;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-left: 5px solid white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 15px;
}
.painel .agrupa-infos {
    width: 50%;
}
.title-page {
    font-size: xx-large;
}


.status{
    grid-area: status;
    display: flex;
    align-items: center;
    gap: 15px;
}
.status i {
    font-size: xx-large;
    color: rgb(43, 223, 43);
}
.check {
    color: rgb(43, 223, 43);
}


.grafico {
    grid-area: grafico;
    background-color: #07031a;
    border-radius: 10px;
    border: 1px solid #444;
    padding: 15px;
    height: 280px;
    width: 100%;
}

.grafico canvas {
    width: 100% !important;
    height: 100% !important;
}

.linha_espacada {
    display: flex;
    justify-content: space-between;
    width: 90%; 
    align-items: center;
}
.title-kpi {
    width: 90%;
    font-size: 16px;
    font-weight: 700;
}
.dado-kpi {
    font-size: xx-large;
    font-weight: 800;
    height: 100%;
}
.check-kpi, .alert-kpi {
    gap: 5px
}
.check-kpi i {
    font-size: large;
    color: green;
}
.alert-kpi i {
    font-size: large;
    color: rgb(255, 0, 0);
}
.descricao-kpi {
    width: 90%;
    font-size: 14px;
    font-style: italic;
}
.kpi1{    
    font-family: 'Poppins', sans-serif;
    background-color: #c5e4c4;
    grid-area: kpi1;
    border: solid;
    border-color: white;
    border-radius: 15px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


.kpi2{
    font-family: 'Poppins', sans-serif;
    background-color: #c5e4c4;
    grid-area: kpi2;
    border: solid;
    border-color: white;
    border-radius: 15px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}


.kpi3{
    font-family: 'Poppins', sans-serif;
    background-color: #ffda6a;
    grid-area: kpi3;
    border: solid;
    border-color: white;
    border-radius: 15px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}



.imgcentrais{
    display: flex;

    flex-direction: column;

    gap: 20px;

    justify-content: center;

    justify-items: center;

    align-items: center;

    
}
