@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    background: #ffffff;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

.first-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #161616;
}

.shadow {
    width: 45%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    box-shadow: 0px 0px 600px 90px rgb(255, 255, 255);
    z-index: 5;
    top: -190px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    background-color: transparent;
    z-index: 5000;
}

nav .logo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 25px;
    font-family: 'Share Tech', sans-serif;
    font-weight: 900;
}

.nav-links {
    z-index: 5000;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.658);
    font-size: 16px;
    transition: 0.5s ease-in-out;
}

.nav-links a:hover {
    text-decoration: underline rgb(186, 131, 238) 2px;
    text-underline-offset: 5px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-button a {
    border-radius: 25px;
    padding: 6px 15px;
    font-weight: bold;
    font-size: 12px;
    background: #d3b3f2;
    background: linear-gradient(127deg, rgb(211, 179, 242) 0%, rgba(172, 96, 244, 0.774) 63%);
    cursor: pointer;
}

.content-first-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
}

.content-planeta-texts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 55%;
}

.texts {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 38%;
    position: absolute;
    margin-bottom: 40px;
}

.first-texts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    padding-right: 20px;
}

.first-texts span {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 900;
}

.texts label {
    font-size: 110px;
    font-weight: 900;
    color: #ff96f8;
    z-index: 5;
}

.linha-planeta {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    border: 5px solid #424242;
}

.planeta {
    background-image: url('../assets/imgs/planeta-first-section.png');
    background-size: cover;
    background-position: center 2.5px;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    z-index: 1;
}

.linha-tec-right {
    position: absolute;
    background-image: url('../assets/imgs/linhas-tecnologia.png');
    background-position: center;
    background-size: cover;
    width: 1000px;
    height: 1000px;
    left: 51%;
    top: -25%;
    z-index: 500;
}

.linha-tec-left {
    position: absolute;
    background-image: url('../assets/imgs/linhas-tecnologia.png');
    background-position: center;
    background-size: cover;
    transform: scaleX(-1);
    /*inverter imagem*/
    width: 1000px;
    height: 1000px;
    right: 51%;
    top: -25%;
    z-index: 500;
}

.itens {
    display: flex;
    align-items: center;
}

.botao:hover {
    background: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.5);
}

.botao b {
    font-weight: 600;
}


.monitoramento {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ebe5e5;
    color: #2b2b2b;
    padding: 30px 90px;
    height: 180vh;
    position: relative;
    overflow: hidden;
}

.monitoramento .wrap {
    display: flex;
    justify-content: space-between;
    grid-template-columns: 300px 1fr;
    gap: 30px;
    align-items: center;
    text-align: end;
    position: relative;
    z-index: 1;
}
.content-sobre-nos {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.content-sobre-nos button {
    width: 19%;
    padding: 3.5px;
    border-radius: 25px;
    background: linear-gradient(127deg, #2d4ec7 0%, #1537b1 63%);
    border: 1px solid rgb(85, 85, 235);
    cursor: pointer;
    color: white;
    font-weight: 700;
    outline: none;
    transition: 0.2s ease-in-out;
}
.content-sobre-nos button:hover {
    transform: scale(1.05);
}


.monitoramento span {
    color: #321856;
    font-size: 18px;
    font-weight: 800;
}

.monitoramento p {
    width: 85%;
    text-align: justify;
    font-size: 15px;
    color: #5a5667;
    font-weight: 500;
}

.negocio {
    background: #ebe5e5;
    color: #2b2b2b;
    padding: 140px 0px;
    height: 180vh;
}

.negocio h3 {
    color: #4a1f86;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.quem-somos-container {
    position: relative;
    text-align: center;
    margin-bottom: 120px;
}

.quem-somos {
    position: absolute;
    top: -135px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 200px;
    color: rgba(183, 108, 253, 0.24);
    z-index: 0;
    pointer-events: none;
    white-space: nowrap;
    font-weight: 700;
}
#first {
    top: 0px;
}

.quem-somos-container h3 {
    position: relative;
    color: #424242;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 0px;
    z-index: 1;
    font-weight: 800;
}

.linha-quem-somos {
    position: absolute;
    background-image: url('../assets/imgs/linha-tec-cinza.png');
    background-position: center;
    background-size: cover;
    width: 850px;
    height: 850px;
    left: -5%;
    top: 25%;
    z-index: 0;
    transform: scaleX(-1) rotate(5deg);
    transform-origin: center;
}

.linha-quem-somos2 {
    position: absolute;
    background-image: url('../assets/imgs/linha-tec-cinza.png');
    background-position: center;
    background-size: cover;
    width: 1000px;
    height: 1000px;
    left: 58%;
    top: 232%;
    transform: scaleY(-1) rotate(10deg);
    transform-origin: center;
    z-index: 0;
}


/* AQUI COMEÇA ARQUIVOS */
.servico {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    flex-direction: column;
    background: #ebe5e5;
    color: #2b2b2b;
    padding: 150px 90px;
}


.servicos-container {
    position: relative;
    text-align: center;
    margin-bottom: 120px;
}

.servico-text {
    position: absolute;
    top: -115px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 280px;
    color: rgba(183, 108, 253, 0.096);
    z-index: 0;
    pointer-events: none;
    white-space: nowrap;
    font-weight: 700;
}

.servicos-container h3 {
    position: relative;
    color: #424242;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 80px;
    font-weight: 900;
    z-index: 1;
}

.servico h2 {
    color: #321856;
    font-size: 18px;
    margin: 0 0 12px;
}

.servico p {
    color: #5a5667;
    margin: 0;
}   

.servico-bloco {
    display: flex;
    align-items: center;
}
.servico-bloco img {
    width: 40%;
}

.conteudo-servicos {
    align-items: end;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    z-index: 1;
}
.conteudo-servicos section {
    display: flex;
    flex-direction: column;
    align-items: end;
    cursor: pointer;
}
.conteudo-servicos section h2 {
    font-weight: 900;
}
.conteudo-servicos section p {
    font-weight: 500;
    text-align: end;
    width: 70%;
}

.servico-desloca {
    position: relative;
    left: 15%;
}

/* NOSSO TIME COMEÇA AQUI */
.nossotime {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 135vh;
    background: #000;
    color: #ebe5e5;
    padding: 30px 90px;
    position: relative;
    overflow: hidden;
}


.time-container {
    position: relative;
    text-align: center;
    margin-bottom: 120px;
}

.time-text {
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 230px;
    color: #b76cfd15;
    z-index: 0;
    pointer-events: none;
    white-space: nowrap;
    font-weight: 700;
}

.time-container h3 {
    position: relative;
    color: #ebe5e5;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 30px;
    margin-top: 80px;
    z-index: 1;
}

.texto-img-time {
    /* display: flex;
    gap: 100px; */

    display: flex;
    flex-wrap: wrap;
    /* melhor para responsividade */
    gap: 80px;
    max-width: 1200px;
    /* controla largura total */
    margin: 0 auto;
    align-items: center;
}

.textosTime {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1 1 500px;
    justify-content: center;
}
.title-time{
    font-weight: 900;
    font-size: 15px;
    color: white;
}

.textosTime p {
    color: rgb(179, 177, 177);
    max-width: 550px;
    line-height: 1.6;
}

.imagemTime {
    flex: 1 1 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 5;
}

.imagemTime img {
    max-width: 100%;
    height: auto;
    min-width: 300px;
}

.linha-time {
    position: absolute;
    background-image: url('../assets/imgs/linha-tec-cinza.png');
    background-position: center;
    background-size: cover;
    width: 850px;
    height: 850px;
    top: 33%;
    left: 57%;
    z-index: 0;
    transform: scaleX(-1) rotate(185deg);
    transform-origin: center;
}

.linha-time2 {
    position: absolute;
    background-image: url('../assets/imgs/linha-tec-cinza.png');
    background-position: center;
    background-size: cover;
    width: 1000px;
    height: 800px;
    left: -25%;
    top: -18%;
    z-index: 0;
    transform: scaleY(-1) rotate(-150deg);
    transform-origin: center;
}

/* AVALIAÇÕES */
.cartoes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    margin: 40px;
    margin-top: 200px;
}

.cartao {
    background: #c9c3c3;
    border-radius: 50px;
    padding: 20px;
    height: 500px;
    text-align: center;
}

.cartao img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.cartao h4 {
    margin: 0 0 6px;
    font-size: 25px;
    color: #0a0a0a;
}

.cartao small {
    color: #837a9e;
}

.valores {
    padding: 60px 50px;
    background: #ebe5e5;
    color: #2b2b2b;
    position: relative;
    overflow: hidden;
    height: 150vh;
}
.v {
    font-size: 250px;
    top: -170px;
}
.val-title {
    margin-top: 50px!important;
    margin-bottom: 200px!important;
}

.valores-cards {
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card {
    flex: 0 1 28%;
    min-height: 450px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}
.card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.card-content {
    position: relative;
    z-index: 1;
    padding: 0 10px 20px;
}

.card-title {
    font-size: 22px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}


.diagrama {
    background-color: #ffffff;
    padding: 10px 0px;
    text-align: center;
}

.diagrama h3 {
    color: #331c63;
    text-align: center;
    font-size: 24px;
}

.img_diagrama {
    width: 60%;
    height: 60%;
    padding: 50px;
}


.corpo7 {
    width: 100%;
    min-height: 500px;
    background-color: #ebe5e5;
    padding: 50px 20px;
    text-align: center;
    color: #2b2b2b;
}

.faq h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.faq-item {
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
}

.faq-item input {
    display: none;
}

.faq-card {
    background: #c9c3c3;
    border-radius: 12px;
    padding: 25px 30px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-weight: bold;
    display: block;
    position: relative;
    transition: background-color 0.3s;
}

.faq-card:hover {
    background-color: #b6afaf;
}

.faq-card .setaGiratoria {
    float: right;
    transition: transform 0.3s;
}

.faq-content {
    background: #ddd7d7;
    margin-top: 8px;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    display: none;
}

.faq-item input:checked+.faq-card .setaGiratoria {
    transform: rotate(180deg);
}

.faq-item input:checked~.faq-content {
    display: block;
}

footer {
    display: flex;
    position: relative;
    align-items: center;
    background: #2a0e4a;
    width: 100%;
    height: 300px;
    color: #ebe5e5;
    padding: 18px 20px;
    font-size: large;
}

.ft {
    /* outline: 1px solid rgb(236, 188, 188); */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ft-1 {
    /* outline: 1px solid rgb(251, 255, 0); */
    height: 40%;
    width: 95%;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.ft-nav {
    /* outline: 1px solid rgb(154, 193, 35); */
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.ft-cad {
    /* outline: 1px solid rgb(149, 32, 175); */
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: end;
}

.ft-2 {
    /* outline: 1px solid rgb(255, 0, 0); */
    height: 40%;
    width: 95%;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.ft-redes {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;
    gap: 10px;
    /* outline: 1px solid rgb(50, 4, 151); */
    margin: 10px;
}

.ft-nome {
    display: flex;
    align-items: end;
    height: 80%;
    /* outline: 1px solid rgb(11, 110, 13); */
    margin: 10px;
}

.ft-nav a:hover,
.ft-cad a:hover {
    opacity: 0.8;
    color: #c1b1e5
}


.ft-nome span {
    font-weight: 800;
    font-size: 20px;
    margin: 0;
}

.ft-redes img {
    height: 75px;
    width: auto;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;

}

#a {
    height: 58px;
    position: relative;
}

.ft-redes img:hover {
    transform: scale(1.3);

}

/* 
.footer_links {
    display: flex;
    position: absolute;
    left: 45%;
    gap: 20px;
}

.footer_links a {
    text-decoration: none;
    color: #2a2a2a;
    font-weight: 500;
}

.footer_links a:hover {
    color: #7a3cff;
}
*/



@media (max-width: 768px) {
    .topbar {
        flex-direction: column;
        height: auto;
        padding: 15px 0;
    }

    .nome {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 15px;
        text-align: center;
    }

    .links {
        width: 100%;
    }

    nav ul {
        justify-content: center;
        flex-wrap: wrap;
    }

    .itens {
        width: 100%;
        justify-content: center;
    }

    .header_botoes {
        flex-wrap: wrap;
        justify-content: center;
    }

    .gradiente {
        padding: 80px 0;
        text-align: center;
    }

    .monitoramento .wrap {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 30px;
    }

    .redonda {
        max-width: 250px;
        margin: 0 auto;
    }

    .cartoes {
        grid-template-columns: 1fr;
        max-width: 400px;
        margin: 0 auto;
    }

    .img_diagrama {
        width: 85%;
    }

    .valores-cards {
        grid-template-columns: 2fr;
        display: grid;
        /* justify-content: center; */
        /* gap: 70px; */
        /* flex-wrap: wrap; */
        /* margin-top: 40px; */
    }

    .valores .quem-somos {
        font-size: 140px;
        top: -90px;
    }
    .valores-cards{
        margin-top: 60px;
    }
    .card {
    min-height: 300px;
}

    .negocio .quem-somos {
        font-size: 95px;
        top: -55px;
    }

    .cartoes {
        margin-top: 55px;
    }

    .texto-img-time {
        flex-direction: column-reverse;
        gap: 0;
    }

    .linha-time,
    .linha-time2 {
        display: none;
    }

    .nossotime .time-text {
        display: none;
    }

    .time-container h3 {
        margin: 0;
    }

    .time-container {
        margin: 0;
    }

    .textosTime {
        flex: 0;
    }

    .servico-text {
        top: -70px;
        font-size: 120px;
    }

    .quem-somos {
        top: -50px;
        font-size: 90px;
    }

    .linha-quem-somos,
    .linha-quem-somos2 {
        display: none;
    }

    .wrap {
        display: flex;
        flex-direction: column;
    }

    .quem-somos-container {
        margin-bottom: 20px;
    }

    .servico-bloco {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .servicos-container {
        margin-bottom: 80px;
    }

    .servicos-container h3 {
        margin-top: 20px;
    }

    .servico-bloco h2 {
        margin-top: 20px;
    }
    .corpo7 {
    padding: 10px 60px;
}

    footer {
        flex-direction: column;
        height: auto;
        padding: 20px;
        text-align: center;
        gap: 15px;
    }

    .ft-nav {
        text-align: start;
    }
}

/* 
@media (max-width: 480px) {
    .gradiente {
        padding: 60px 0;
    }

    .gradiente h1 {
        font-size: 28px;
    }

    .links {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .header_botoes {
        flex-direction: column;
        width: 100%;
    }

    .header_botoes .botao {
        width: 100%;
        text-align: center;
    }

    .cartao img {
        width: 120px;
        height: 120px;
    }

    .img_diagrama {
        width: 95%;
    }

    .footer_links {
        flex-direction: column;
        gap: 8px;
    }
} */