
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, * {
    margin: 0;
    left: 0;
}
.container-all {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0a061b;
    font-family: 'Open Sans', sans-serif;
}

/* NAV-LATERAL */
.nav-lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 6.5%;
    background-color: #231f39;
    border-bottom-right-radius: 8.5px;
    border-top-right-radius: 8.5px;
    transition: width 0.4s ease;
}
.logo-dbg {
    width: 100%;
    height: 14%;
    display: flex;
    justify-content: center;
}
.logo-dbg img {
    width: 100px;
    height: 100px;
}
.options-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    height: 75%;
    align-self: flex-start;
    margin-left: 30px;
}
.principal-options {
    height: 85%;
    width: 100%;
    display: flex;
    left: 0;
    justify-content: center;
    align-items: start;
    gap: 25px;
    flex-direction: column;
    align-self: flex-start;
}
.circle-option {
    font-size: 20px;
    color: #231f39;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    width: 80%;
    height: 9%;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 3px 6px rgba(207, 204, 204, 0.2);
}
.circle-option:hover {
    transform: scale(1.15);
    background-color: #bdb5b5;
}

.area-logoff {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;

}
.logoff {
    height: 50%;
    border: 2px solid red;
    color: red;
}
.texto-oculto {
    display: none;
    font-size: 14px;
    color: #231f39;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* .nav-lateral:hover {
    width: 16%;
    z-index: 15;
} */
 
/*.nav-lateral:hover .texto-oculto {
    display: flex;
    visibility: visible;
}


.nav-lateral:hover .circle-option {
    width: 130px;
    justify-content: flex-start;
    border-radius: 25px;
    gap: 10px;
    padding: 0 10px;
}
*/



/*ESTRUTURA/MOLDE:*/
.container-all .corpo-dash{
    height: 98%;
    width: 93%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
}
.topo-pagina{
    display: flex;
    width: 100%;
    height: 7%;
    flex-direction: row;
    justify-content: space-between;
}
.topo-pagina .titulo{
    display: flex;
    width: 80%;
    height: 98%;
    flex-direction: column;
}
.titulo-linha{
    display: flex;
    width: 67%;
    height: 10%;
    border-bottom: #41b8d5 2px solid;
}
.texto-titulo{
    display: flex;
    width: 100%;
    height: 90%;
}
.topo-pagina .botao-sair{
    display: flex;
    width: 10%;
    height: 98%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.kpis{
    display: flex;
    width: 99.9%;
    height: 30%;
    border: #bdb5b5 1px solid;
}
.kpi-latencia{
    display: flex;
    width: 33.3%;
    height: 100%;
    flex-direction: column;
}
.kpi-erro{
    display: flex;
    width: 33.3%;
    height: 100%;
    flex-direction: column;
}
.kpi-falha{
    display: flex;
    width: 33.3%;
    height: 100%;
    flex-direction: column;
}
.texto-meio{
    display: flex;
    width: 99.9%;
    height: 5%;
    color: aliceblue;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}
.divisao-texto-meio{
    display: flex;
    width: 33.3%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.linha-meio{
    display: flex;
    width: 100%;
    background-color: #231f39;
    border-bottom: #ffffff 4px solid;
}
.risco-iminente{
    display: flex;
    width: 99.9%;
    height: 60%;
    gap: 10px;
}
.risco-iminente .grafico-cpu-agregada{
    display: flex;
    width: 60%;
    height: 100%;
    border: #bdb5b5 1px solid;
    flex-direction: column;
}
.grafico{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cpu-agregada{
    max-height: 90% !important;
    max-width: 90% !important;
}
.titulo-cpu-agregada{
    display: flex;
    width: 100%;
    height: 10%;
}
.procs{
    display: grid;
    width: 39.2%;
    height: 100%;
}
.carga-procs{
    display: flex;
    width: 100%;
    height: 85%;
    flex-direction: column;
    background-color: #231f39;
    border: #bdb5b5 1px solid;
}
.titulo-carga{
    display: flex;
    width: 100%;
    height: 20%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #d9d9d9;
    font-weight: bold;
}
.gauge-carga{
    display: flex;
    width: 100%;
    height: 100%;
}
.carga1, .carga15{
    display: flex;
    width: 33.3%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.real-grafico-carga{
    display: flex;
    width: 100%;
    height: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carga5{
    display: flex;
    width: 33.3%;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}
#gauge-carga1, #gauge-carga5, #gauge-carga15{
    max-width: 75% !important;
    max-height: 75% !important;
}
.tempo-carga{
    display: flex;
    width: 100%;
    height: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.lista-procs{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #231f39;
    border: #bdb5b5 1px solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo-lista{
    display: flex;
    width: 100%;
    height: 20%;
    background-color: #231f39;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #d9d9d9;
    font-weight: bold;
}
.corpo-lista{
    display: flex;
    width: 100%;
    height: 80%;
    border-bottom: #bdb5b5 2px solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item1, .item2, .item3, .item4, .item5{
    display: flex;
    width: 95%;
    height: 20%;
    border-bottom: #bdb5b5 2px solid;
}
.nome-proc-container{
    display: flex;
    width: 75%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    color: #fff;
}
.nome-proc-container span{
    font-size: 12px;
}
.container-servidor{
    display: flex;
    width: 25%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: end;
    color: #fff;
}
.container-servidor span{
    font-size: 12px;
}
.texto-uso-cpu-agregada{
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: end;
    color: #fff;
    font-weight: bold;
}
.linha-limite-maximo{
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: center;
    text-align: center;
}
.linha{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: flex-end;
}
.linha-mesmo{
    display: flex;
    width: 50%;
    height: 50%;
    border-bottom: #c70303 2px solid;
}
.texto-limite{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
}
.texto-limite span{
    font-size: 9px;
}




/*TÍTULO E KPI'S*/
.topo-pagina .titulo h3{
    display: flex;
    color: aliceblue;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}
.topo-pagina .botao-sair button{
    display: flex;
    color: black;
    font-weight: bold;
    padding: 5px 30px;
}
/*LATÊNCIA:*/
.titulo-latencia{
    display: flex;
    width: 100%;
    height: 15%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: #fff
}
.gauge-latencia{
    display: flex;
    width: 100%;
    height: 65%;
    border-right: #bdb5b5 1px solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#gauge-kpi-latencia, #gauge-latencia-erro{
    max-width: 80% !important;
    max-height: 80% !important;
}
.limite-requisicoes{
    display: flex;
    width: 100%;
    height: 20%;
    flex-direction: column;
}
.limite-maximo{
    display: flex;
    width: 100%;
    height: 25%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    color: #fff;
}
.taxa-reqs{
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    color: #ffa726;
}
/*ERRO:*/
.titulo-erro{
    display: flex;
    width: 100%;
    height: 15%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: #fff;
}
.gauge-erro{
    display: flex;
    width: 100%;
    height: 65%;
    border-left: #bdb5b5 1px solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.limite-erro{
    display: flex;
    width: 100%;
    height: 20%;
}
/*FALHA SISTÊMICA:*/
.titulo-falha{
    display: flex;
    width: 100%;
    height: 15%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: #fff;
}
.taxa-falha{
    display: flex;
    width: 100%;
    height: 65%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #74ce3a;
    font-size: 40px;
}
.limite-falha{
    display: flex;
    width: 100%;
    height: 20%;
}
.limites{
    display: flex;
    width: 33.3%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}
