html,
* {
    margin: 0;
    left: 0;
    overflow: hidden;
}

.container-all {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: #0a061b;
    font-family: "Poppins", sans-serif;
}

/* NAV-LATERAL */
.nav-lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 6.5%;
    background-color: #231f39;
    border-bottom-right-radius: 8.5px;
    border-top-right-radius: 8.5px;
    transition: width 0.4s ease;
}

.logo-dbg {
    width: 100%;
    height: 14%;
    display: flex;
    justify-content: center;
}

.logo-dbg img {
    width: 100px;
    height: 100px;
}

.options-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    height: 75%;
    align-self: flex-start;
    margin-left: 30px;
}

.principal-options {
    height: 85%;
    width: 100%;
    display: flex;
    left: 0;
    justify-content: center;
    align-items: start;
    gap: 25px;
    flex-direction: column;
    align-self: flex-start;
}

.circle-option {
    font-size: 20px;
    color: #231f39;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    width: 80%;
    height: 9%;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 3px 6px rgba(207, 204, 204, 0.2);
}

.circle-option:hover {
    transform: scale(1.1);
    background-color: #bdb5b5;
}

.area-logoff {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
}

.logoff {
    height: 50%;
    border: 2px solid red;
    color: red;
}

.texto-oculto {
    display: none;
    font-size: 14px;
    color: #231f39;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* DASH */
.container-all .corpo-dash {
    border: #505050 1px solid;
    border-radius: 15px;
    height: 98%;
    width: 93%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    /* gap: 10px; */
    justify-content: space-between;
    align-items: center;
    color: white;
}

/* TOPO PAGINA*/
.topo-pagina {
    /* border: #e2c418 1px solid; */
    margin: 5px;
    display: flex;
    width: 98%;
    height: 6%;
    align-items: center;
}

.topo-pagina .titulo {
    /* border: white 1px solid; */
    margin: 5px;
    border-bottom: #636363 2px solid;
}

/* KPIS */
.kpis {
    /* border: #df2222 1px solid; */
    /* border-bottom: #636363 2px solid; */
    /* border-top: #636363 2px solid; */
    color: rgb(228, 228, 228);
    margin: 5px;
    width: 98%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kpi-uso {
    /* border: white 1px solid; */
    border-left: 3px solid #494949;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    margin: 5px;
    height: 95%;
    width: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kpi-temp {
    /* border: white 1px solid; */
    /* border-right: #636363 1px dotted;
    border-left: #636363 1px dotted; */
    border-left: 3px solid #494949;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    margin: 5px;
    height: 95%;
    width: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kpi-freq {
    /* border: white 1px solid; */
    /* border-right: #636363 1px dotted;
    border-left: #636363 1px dotted; */
    border-left: 3px solid #494949;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    margin: 5px;
    height: 95%;
    width: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kpi-t-crit {
    /* border: white 1px solid; */
    /* border-left: #636363 1px dotted; */
    border-left: 3px solid #494949;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    margin: 5px;
    height: 95%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kpi {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.kpi-titulo {
    /* border: #6f776f 1px solid; */
    color: rgb(172, 172, 172);
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}
.freq1{
    margin-bottom: 8px;
}

.kpi-subtit {
    /* border: 3px solid rgb(232, 161, 95); */
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.kpi-content {
    /* border: 1px solid rgb(52, 228, 126); */
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.kpi-content .maior {
    /* border: #0ebad8 5px solid; */
    font-size: 50px;
    font-weight: 800;
}

.kpi-content .maior-t-crit {
    /* border: #ec25f7 5px solid; */
    font-size: 50px;
    font-weight: 800;
}

.kpi-content .menor {
    /* border: #cb076f 5px solid; */
    font-size: 15px;
    font-weight: 450;
}

.kc-freq {
    /* border: #22d3df 1px solid; */
    display: flex;
    /* gap: 35px; */
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    width: 85%;
}

.col {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.tit {
    /* border: 2px solid rgb(13, 210, 240); */
    color: rgb(172, 172, 172);
    font-size: 13px;
    font-weight: 500;
}

.tit-alert {
    /* border: 3px solid white; */
    margin-top: 5px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    color: rgb(172, 172, 172);
    font-size: 14px;
    font-weight: 500;
}

.cont-maior {
    font-size: 45px;
    font-weight: 750;
}

.cont-menor {
    font-size: 35px;
    font-weight: 700;
}

.freq-resumo {
    font-size: 28px;
    font-weight: 650;
}

.crit-labels {
    /* border: #22d3df 1px solid; */
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.crit-label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cor1 {
    color: #74ce3a;
    border-color: #74ce3a;
}

.cor2 {
    color: #1eb86d;
    border-color: #1eb86d;
}

.cor3 {
    color: #e1b122;
    border-color: #e1b122;
}

.cor4 {
    color: red;
    border-color: red;
}

/*-----------------------*/
/* BLOCO FIM*/
.bloco-fim {
    /* border: #22d3df 1px solid; */
    margin: 5px;
    width: 98%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bloco-fim .esq {
    /* border: #ec3ccf 1px solid; */
    /* margin: 5px; */
    width: 70%;
    height: 100%;
}

.bloco-fim .esq .resumo {
    /* border: white 1px solid; */
    border: 3px dotted;
    border-radius: 15px;
    margin: 5px;
    width: 98%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(190, 190, 190, 0.08);
}

/* .resumo-titulo {
    color: rgb(172, 172, 172);
    font-size: 18px;
    font-weight: 5000;
    width: 95%;
    height: 20%;
} */

.resumo .resumo-txt {
    /* border: #ec3ccf 1px solid; */
    font-size: 28px;
    font-weight: 650;
    width: 98%;
    height: 70%;
    text-align: center;
}

.bloco-fim .esq .graficos {
    /* border: rgb(113, 187, 98) 1px solid; */
    margin: 5px;
    width: 98%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bloco-fim .esq .graficos .graf-temp {
    /* border: rgb(112, 150, 165) 1px solid; */
    /* margin: 5px; */
    border: #636363 1px dotted;
    border-radius: 10px;
    width: 49%;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco-fim .esq .graficos .graf-uso {
    /* border: white 1px solid; */
    /* margin: 5px; */
    border: #636363 1px dotted;
    border-radius: 10px;
    width: 49%;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graf-temp canvas {
    width: 100% !important;
    height: 100% !important;
}

.graf-uso canvas {
    width: 100% !important;
    height: 100% !important;
}


.bloco-fim .dir {
    /* border: #39e039 1px solid; */
    /* margin: 5px; */
    width: 29%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bloco-fim .dir .servidores {
    border: #e90cb2 1px solid;
    /* margin: 5px; */
    width: 99%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco-fim .dir .processos {
    /* border: rgb(172,172,172) 1px solid; */
    /* margin: 5px; */
    border-left: 3px solid #494949;
    background-color: rgba(163, 163, 163, 0.08);
    border-radius: 15px;
    width: 100%;
    height: 58%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
}

.processos-titulo {
    color: rgb(172, 172, 172);
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: #636363 1px dotted;
    padding-bottom: 10px;
}

.processos-lista {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    padding-right: 5px;
}

.processo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 5px;
    border-left: 3px solid #494949;
    transition: all 0.2s ease;
    font-size: 14px;
}

.processo-item:hover {
    background-color: rgba(17, 144, 230, 0.12);
    transform: translateX(5px);
}

.processo-nome {
    color: #dddddd;
    font-weight: 500;
    flex: 1;
}

.processo-cpu {
    color: rgb(88, 133, 163);
    font-weight: 700;
    min-width: 45px;
    text-align: right;
}