
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, * {
    margin: 0;
    left: 0;
}
.container-all {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0a061b;
    font-family: 'Open Sans', sans-serif;
}

/* NAV-LATERAL */
.nav-lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 6.5%;
    background-color: #231f39;
    border-bottom-right-radius: 8.5px;
    border-top-right-radius: 8.5px;
    transition: width 0.4s ease;
}
.logo-dbg {
    width: 100%;
    height: 14%;
    display: flex;
    justify-content: center;
}
.logo-dbg img {
    width: 100px;
    height: 100px;
}
.options-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    height: 75%;
    align-self: flex-start;
    margin-left: 30px;
}
.principal-options {
    height: 85%;
    width: 100%;
    display: flex;
    left: 0;
    justify-content: center;
    align-items: start;
    gap: 25px;
    flex-direction: column;
    align-self: flex-start;
}
.circle-option {
    font-size: 20px;
    color: #231f39;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    width: 80%;
    height: 9%;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 3px 6px rgba(207, 204, 204, 0.2);
}
.circle-option:hover {
    transform: scale(1.15);
    background-color: #bdb5b5;
}

.area-logoff {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;

}
.logoff {
    height: 50%;
    border: 2px solid red;
    color: red;
}
.texto-oculto {
    display: none;
    font-size: 14px;
    color: #231f39;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* .nav-lateral:hover {
    width: 16%;
    z-index: 15;
} */
 
/*.nav-lateral:hover .texto-oculto {
    display: flex;
    visibility: visible;
}


.nav-lateral:hover .circle-option {
    width: 130px;
    justify-content: flex-start;
    border-radius: 25px;
    gap: 10px;
    padding: 0 10px;
}
*/



/*ESTRUTURA/MOLDE:*/
.container-all .corpo-dash{
    height: 98%;
    width: 93%;
    border: #d9d9d9 1px solid;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
}
.topo-pagina{
    display: flex;
    width: 100%;
    height: 7%;
    border: #bdb5b5 1px solid;
    background-color: #231f39;
    flex-direction: row;
    justify-content: space-between;
}
.topo-pagina .titulo{
    display: flex;
    width: 80%;
    height: 98%;
    border: #bdb5b5 1px solid;
    background-color: #231f39;
}
.topo-pagina .botao-sair{
    display: flex;
    width: 10%;
    height: 98%;
    background-color: #231f39;
    border: #bdb5b5 1px solid;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.kpis{
    display: flex;
    width: 99.9%;
    height: 30%;
    background-color: #231f39;
    border: #bdb5b5 1px solid;
}
.texto-meio{
    display: flex;
    width: 99.9%;
    height: 5%;
    background-color: #231f39;
    border: #bdb5b5 1px solid;
    color: aliceblue;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}
.risco-iminente{
    display: flex;
    width: 99.9%;
    height: 60%;
    background-color: #231f39;
    border: #bdb5b5 1px solid;
    gap: 10px;
}
.risco-iminente .grafico-cpu-agregada{
    display: flex;
    width: 60%;
    height: 100%;
    background-color: #231f39;
    border: #bdb5b5 1px solid;
}
.procs{
    display: grid;
    width: 40%;
    height: 100%;
    background-color: #231f39;
    border: #bdb5b5 1px solid;
}
.procs .carga-procs{
    display: flex;
    width: 100%;
    height: 80%;
    background-color: #231f39;
    border: #bdb5b5 1px solid;
}
.lista-procs{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #231f39;
    border: #bdb5b5 1px solid;
}



/*ITENS:*/
.topo-pagina .titulo h2{
    display: flex;
    color: aliceblue;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}
.topo-pagina .botao-sair button{
    display: flex;
    color: black;
    font-weight: bold;
    padding: 5px 30px;
}

