html, * {
margin: 0;
}
body{
  color: white;
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita scroll na página inteira */
  height: 100vh;
  width: 100vw;
}


.container-all {
font-family: "Poppins",sans-serif;
}

legend, h2, h3 {
font-size: 16px;
}

.sub {
font-size: 13px;
}

.card h2 {
font-size: 17px;
}

.header h1 {
font-size: 24px;
margin-bottom: 10px;
}

.container-all {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #0a061b;
  font-family: "Poppins", sans-serif;
}

.nav-lateral {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
height: 100%;
width: 6.5%;
background-color: #231f39;
border-bottom-right-radius: 8.5px;
border-top-right-radius: 8.5px;
transition: width 0.4s ease;
}

.logo-dbg {
width: 100%;
height: 14%;
display: flex;
justify-content: center;
}
.logo-dbg img {
width: 100px;
height: 100px;
}

.options-nav {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
width: 50%;
height: 75%;
align-self: flex-start;
margin-left: 30px;
}
.principal-options {
height: 85%;
width: 100%;
display: flex;
left: 0;
justify-content: center;
align-items: start;
gap: 25px;
flex-direction: column;
align-self: flex-start;
}
.circle-option {
font-size: 20px;
color: #231f39;
display: flex;
align-items: center;
justify-content: center;
background-color: #d9d9d9;
width: 80%;
height: 9%;
border-radius: 50%;
cursor: pointer;
transition: all 0.2s ease;
box-shadow: 0 3px 6px rgba(207, 204, 204, 0.2);
}
.circle-option:hover {
transform: scale(1.15);
background-color: #bdb5b5;
}

.area-logoff {
display: flex;
align-items: center;
justify-content: center;
height: 15%;
width: 100%;
}
.logoff {
height: 50%;
border: 2px solid red;
color: red;
}

.texto-oculto {
display: none;
font-size: 14px;
color: #231f39;
transition: opacity 0.3s ease, visibility 0.3s ease;
}



.container {
  width: 100%;
  height: 90%;
  padding: 25px;
  display: flex;
  gap: 25px;
}

.bloco-esquerda {
  width: 68%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.bloco-direita {
  width: 32%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #1b1533;
  border-radius: 10px;
  border: #bdb5b5 solid 1px;
  padding: 15px;
  height: 93.5vh;
  
}

.cima {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  min-height: 100px;
  max-height: 120px;
}

.baixo {
  height: 80%;
  display: flex;
  flex-direction: column;
}

/* .botaoJira{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.botaoJira button{
  background-color: white;
  border: none;
  border-radius: 20px;
}

.botaoJira img{
  width: 80%;
  height: 80%;
} */


.uiverse {
  position: relative;
  background: #ffffff;
  color: #000;
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
  width: 95px;
  height: 20px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.uiverse:hover .tooltip {
  top: -53px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

svg:hover span,
svg:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.uiverse:hover,
.uiverse:hover .tooltip,
.uiverse:hover .tooltip::before {
  background: linear-gradient(320deg, rgb(3, 77, 146), rgb(0, 60, 255));
  color: #ffffff;
}

.card {
  background-color: #1b1533;
  border-radius: 10px;
  padding: 15px;
  border: #bdb5b5 solid 1px ;
}


.card-correlacao {
  height: 100%;
  background-color: #1b1533;
  padding: 15px;
  border-radius: 10px;
  border: #bdb5b5 solid 1px;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden; 
}


.card-kpi-alertas{
  margin: 10px;
  background-color: #3d3761;
  border-radius: 10px;
  padding: 10px;
  border: #bdb5b5 solid 1px ;
}

.kpis {
  width: 100%;
  display: flex;
  gap: 10px;
}

.kpi-processos {
  width: 50%;
}


.kpi-cpu {
  width: 50%;
  padding: 15px;
  height: 190px;
  display: flex;
  flex-direction: column;
  overflow: hidden; 
}

.kpi-cpu h4,
.kpi-cpu p {
  flex-shrink: 0;
  
}

.kpi-cpu canvas {
  flex-grow: 1;
  height: auto !important;
  max-height: 100px !important; 
  width: 100% !important;
}

.kpi-processos h5 {
  font-size: 16px;
  font-weight: 600;
}
.kpi-processos h3 {
  font-size: 30px;
  margin-top: 10px;
}

.card-grafico {

  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 230px;
  overflow: hidden; 
}

.card-grafico canvas {
  width: 100% !important;
  height: 100% !important;
  max-height: calc(100% - 30px) !important;
  flex-grow: 1;
}

.titulo {
  font-size: 17px;
  font-weight: 600;
  
}

.blocos-mistos {
  display: flex;
  width: 100%;
  gap: 25px;
  background-color: #1b1533;
  border-radius: 10px;
  border: #bdb5b5 solid 1px;
  height: 300px;

}

.bloco-meio {
  width: 50%;
}



.graficoSwap {
  width: 50%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden; 
  min-height: 0;
}

.graficoSwap canvas {
  width: 100% !important;
  height: 100% !important;
  flex: 1 1 auto;
  min-height: 0 !important; /* CRUCIAL */
  min-width: 0 !important; /* CRUCIAL */
}

.graficoSwap .titulo {
  flex-shrink: 0;
  margin-bottom: 10px;
}

.card-grafico canvas,
.kpi-cpu canvas{
  /* height: 100% !important; */
  width: 100% !important;
  flex-grow: 1
}

.card-correlacao canvas {
  width: 100% !important;
  height: 100% !important;
  flex: 1 1 auto;
  min-height: 0; 
}


#desempenhoChart {
  max-height: 280px !important; 
}

.card-grafico > canvas {
  flex: 1 1 auto;
  min-height: 0; 
}

.graficoRam {
  border-radius: 10px;
  padding: 15px;
  min-height: 200px;
}

.pie-area {
  width: 100%;
  display: flex;
  justify-content: center;
  max-height: 150px;
}

.legenda-pie {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}

.legenda-pie div::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.legenda-pie .disp::before {
  background-color: #56d4ff;
}

.legenda-pie .util::before {
  background-color: #1bb6c7;
}
